# Compiled source
*.o

# Bluebottle output/input files
flow-*.cgns
part-*.cgns
grid.cgns
part.config
flow.config

# c-tool binaries

# phase averaged velocity files
flowVel
flowphaseout
partVel
partout

# Fourier Reconstruction files
f-reconstruct
plot.out

# other
out
.keep
.sh
sppressions
*.pyc
.pyc

# Tetrad Files
tetrad_init
tetrad.out

raw-data-*
align.mean
align.sdev
align.skew
align.kurt
info.dat
stat.mean
stat.sdev
stat.skew
stat.kurt
regularNodes
ts_*

