# Compiled source files
*.o

# Tool Binaries
**/cgns_read/sim/main
**/fourier-reconstruction/1-dim-flow/sim/f-rec-1D-flow
**/fourier-reconstruction/1-dim-part/sim/f-rec-1D-part
**/fourier-reconstruction/3-dim-part/sim/f-rec-3D-part
**/fourier-reconstruction/histograms/sim/f-rec-3D-hist
**/phase-averaged-velocity/flow/sim/flowvel
**/phase-averaged-velocity/histogram-part/sim/part-hist
**/phase-averaged-velocity/part/sim/partvel
**/part-pair-distribution/3d-hist_bins/sim/3d-hist_bins
**/part-pair-distribution/bins/sim/part-pair-bin
**/part-pair-distribution/fourier/sim/part-pair-fourier
**/part-pair-distribution/laguerre/sim/part-pair-laguerre
**/part-pair-distribution/r-fourier/sim/part-pair-r
**/part-pair-distribution/solid/sim/part-pair-solid
**/tetrads/sim/tetrads

# Python files
*.pyc

# Other
sppressions  # make file suppresions
